# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

train/toohigh/Untitled.mov
train/Correct/correct.mov
train/toolow/Untitled copy.mov

# VS Code settings (optional)
.vscode/
